@model IEnumerable<ELİF.Models.CartItem>
@using ELİF.Models
@using ELİF.Services


<h1>Your Shopping Cart</h1>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price</td>
                <td>@(item.Quantity * item.Product.Price)</td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
